<div class="outer-wrap">
  <div>
    <div class="body-wrap">
      <markdown [data]="pageBody"></markdown>
    </div>
    <div *ngIf="difficulties && difficulties.length; else spinner">
      <div *ngFor="let difficulty of difficulties" class="difficulty__wrap">
        <div class="difficulty__innerwrap">
          <div class="lesson-graphic-wrapper">
            <h2 class="lesson-graphic-wrapper-title">
              {{ difficulty.difficultyName }}
            </h2>
          </div>
          <div class="difficulty__infowrap">
            <markdown ngPreserveWhitespaces>
              {{ difficulty.difficultyDescription }}
            </markdown>
            <a
              mat-raised-button
              color="primary"
              class="difficulty__link"
              routerLink="/overview/{{ difficulty.difficultyId }}"
              >{{ getStarted }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <mat-progress-spinner
      class="spinner"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-template>
</div>
