<div class="outer-wrap">
  <div>
    <h1>Välkommen till CoderDojo Webbskolan</h1>
    <p>
      Här kan du lära dig koda för webben. När du är klar kommer du kunna bygga
      hemsidor, lösa din matteläxor med hjälp av kod, och mycket annat skoj.
      Webbskolan är helt gratis och du behöver inget konto.
    </p>
    <div *ngFor="let difficulty of difficulties" class="difficulty__wrap">
      <h1 class="difficulty__title">{{ difficulty.difficultyName }}</h1>
      <div class="difficulty__innerwrap">
        <img src="https://placeimg.com/200/200/tech" />
        <div class="difficulty__infowrap">
          <markdown ngPreserveWhitespaces>
            {{ difficulty.difficultyDescription }}
          </markdown>
          <a
            mat-raised-button
            color="primary"
            class="difficulty__link"
            routerLink="/overview/{{ difficulty.difficultyId }}"
            >Kom igång</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
