@import '../../../assets/scss/colors';
@import '../../../assets/scss/sizes';

.outer-wrap {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;

  > * {
    grid-column: 2 / auto;
  }
}

.difficulty__wrap {
  background-color: $color-white-lilac;
  margin-bottom: $sizes-large;
  border-width: 1px;
  border-style: solid;
  border-color: $color-wild-sand;
  padding: $sizes-medium;

  &:first-of-type {
    margin-top: $sizes-large;
  }
}

.difficulty__title {
  color: $color-pickled-bluewood;
}

.difficulty__innerwrap {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: $sizes-medium;
}

.difficulty__infowrap {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.difficulty__link {
  align-self: flex-end;
}
