<div class="outer-wrap">
  <div *ngIf="lesson?.lessonTitle; else spinner">
    <div class="inner-wrap">
      <div class="top-wrap">
        <div>
          <h1>{{ lesson.lessonTitle }}</h1>
          <h2 *ngIf="lesson.instructor">{{ words.writtenBy }} {{ lesson.instructor }}</h2>
          <p>{{ lesson.lessonShortFacts }}</p>
          <markdown [data]="lesson.lessonIntro"></markdown>
        </div>
        <div class="info-box">
          <markdown [data]="lesson.lessonObjectives"></markdown>
        </div>
      </div>
      <markdown [data]="lesson.lessonBody"></markdown>
      <div class="info-box">
        <markdown [data]="lesson.references"></markdown>
      </div>
    </div>
    <div class="next-outerwrap">
      <div
        class="next-innerwrap"
        *ngIf="lesson?.nextLesson; else backToOverview"
      >
        <strong
          >{{ words.nextLesson }}: {{ lesson.nextLesson.lessonTitle }}</strong
        >
        <a
          mat-raised-button
          color="primary"
          routerLink="/lesson/{{ lesson.nextLesson.lessonId }}"
          >{{ words.continue }} <mat-icon>chevron_right</mat-icon></a
        >
      </div>
      <ng-template #backToOverview>
        <div class="next-innerwrap">
          <strong>{{ words.greatJobLesson }}</strong>
          <a
            mat-raised-button
            color="primary"
            routerLink="/overview/{{ lesson.difficultyLevel }}"
            ><mat-icon>chevron_left</mat-icon> {{ words.back }}</a
          >
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #spinner>
    <mat-progress-spinner
      class="spinner"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-template>
</div>
