@import '../../../assets/scss/colors';
@import '../../../assets/scss/sizes';
@import '../../../assets/scss/media';

.outer-wrap {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  background-color: $color-san-marino;
  padding: $sizes-medium 0px;

  > * {
    grid-column: 2 / auto;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

.inner-wrap {
  align-items: center;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  top: 0px;
}

.image {
  max-width: 160px;
}

a {
  color: $color-white;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: $sizes-base;
  }

  &:hover {
    font-weight: 500;
    transition: font-weight 200ms;
  }
}
