<nav class="outer-wrap">
  <div class="inner-wrap">
    <a routerLink="/">
      <img src="./../assets/cd-logo.png" />
    </a>
    <div>
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon> {{ homePage }}
      </button>
      <button mat-button routerLink="/info/references">
        <mat-icon>description</mat-icon> {{ references }}
      </button>
      <button mat-button routerLink="/info/about">
        <mat-icon>info</mat-icon> {{ about }}
      </button>
      <app-language-picker [languageString]="language"></app-language-picker>
    </div>
  </div>
</nav>
