@import '../../../assets/scss/colors';
@import '../../../assets/scss/sizes';

.outer-wrap {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;

  > * {
    grid-column: 2 / auto;
  }
}

.inner-wrap {
  background-color: $color-white-lilac;
  border: 1px solid $color-wild-sand;
  margin-top: $sizes-large;
  padding: $sizes-medium;
}
