<div class="outer-wrap">
  <div class="inner-wrap" *ngIf="difficulty?.difficultyName; else spinner">
    <h1>{{ words.overviewOf }} {{ difficulty.difficultyName }}</h1>
    <markdown [data]="difficulty.difficultyOverviewDescription"> </markdown>
    <div class="course-wrap__outer" *ngFor="let course of difficulty.courses">
      <h2>{{ course.courseName }}</h2>
      <markdown [data]="course.courseDescription"></markdown>
      <div class="course-wrap__inner">
        <div
          *ngFor="let lesson of course.lessons; index as i"
          class="lesson-wrap"
        >
          <img src="https://placeimg.com/180/180/tech" />
          <h4>{{ i + 1 }}: {{ lesson.lessonTitle }}</h4>
          <p>{{ lesson.lessonShortFacts }}</p>
          <a
            mat-raised-button
            color="primary"
            class="lesson__link"
            routerLink="/lesson/{{ lesson.lessonId }}"
            >{{ words.getStarted }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <mat-progress-spinner
      class="spinner"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-template>
</div>
