@import '../../../assets/scss/colors';
@import '../../../assets/scss/sizes';
@import '../../../assets/scss/media';

.outer-wrap {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;

  > * {
    grid-column: 2 / auto;
  }

  @include mobile {
    display: block;
  }
}

.inner-wrap {
  background-color: $color-white-lilac;
  border: 1px solid $color-wild-sand;
  margin-top: $sizes-large;
  padding: $sizes-medium;

  @include mobile {
    margin: $sizes-large 0;
  }
}

.course-wrap__outer {
  background-color: $color-white;
  box-shadow: rgba(67, 73, 89, 0.1) 0px 0px 20px;
  padding: $sizes-third;

  &:not(:first-of-type) {
    margin-top: $sizes-base;
  }
}

.course-wrap__inner {
  display: grid;
  grid-template-columns: repeat(4, 195px);
  grid-column-gap: $sizes-medium;
  grid-row-gap: $sizes-medium;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.lesson-wrap {
  background-color: $color-white-lilac;
  padding: $sizes-third $sizes-third $sizes-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lesson__link {
  @include mobile {
    align-self: flex-end;
  }
}
